@import 'reset';
@import 'utilities';

@font-face {
  font-family: 'Windows 95';
  src: url('../fonts/w95fa.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

$red: #ff0000;
$blue: #0000ff;
$red-dark: #800000;
$grey: #c0c0c0;
$grey-dark: #606f6f;
$white: #fff;
$white-dark: #f1f1f1;
$black: #000;

.red {
  color: $red;
}
.blue {
  color: $blue;
}
.red-dark {
  color: $red-dark;
}

* {
  font-family: 'Windows 95', sans-serif;
}

body {
  height: 100vh;
  background: #eaeaea;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.calculator {
  padding: 24px;
  background: $grey;
  border-width: 3px;
  border-style: solid;
  border-right-color: $grey-dark;
  border-bottom-color: $grey-dark;
  border-top-color: $white-dark;
  border-left-color: $white-dark;
  max-width: 427.5px;

  @media (max-width: 480px) {
    padding: 12px;
    max-width: 240px;
  }

  .screen {
    .result {
      width: 100%;
      max-width: 100%;
      height: 68px;
      text-align: right;
      padding: 16px;
      font-size: 32px;
      font-weight: bold;
      color: $black;
      background-color: $white;
      border-width: 3px;
      border-style: solid;
      border-right-color: $white-dark;
      border-bottom-color: $white-dark;
      border-top-color: $grey-dark;
      border-left-color: $grey-dark;

      @media (max-width: 480px) {
        font-size: 24px;
        height: 48px;
        line-height: 16px;
      }
    }
  }
  .buttons {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    button {
      font-size: 32px;
      font-weight: bold;
      &:hover {
        cursor: pointer;
      }

      @media (max-width: 480px) {
        font-size: 20px;
      }
    }
  }
}

// Win 95 button style
// https://demo.themesberg.com/windows-95-ui-kit/docs/introduction.html
.btn {
  position: relative;
  transition: all 0.2s ease;
  padding: 0.7rem 2.1rem;

  @media (max-width: 480px) {
    padding: 0.35rem 1rem;
  }
}

.btn:before,
.btn:after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  display: block;
  background: transparent;
  z-index: 9;
  top: 0;
  left: 0;
}

.btn:before {
  width: 100%;
  height: 100%;
  border-top: 2px solid $white-dark;
  border-left: 2px solid $white-dark;
  border-right: 2px solid $grey-dark;
  border-bottom: 2px solid $grey-dark;
}

.btn:not(:disabled):not(.disabled):active:before,
.btn:not(:disabled):not(.disabled):active:focus:before {
  border-color: transparent;
}

.btn-primary {
  background-color: #c0c0c0;
  border-color: #a0a0a0;
}

.btn-primary:hover {
  background-color: #c0c0c0;
  border-color: #a0a0a0;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: none;
}

.jssecrets {
  text-decoration: none !important;
  padding: 16px;
  background: #ffc805;
  color: #000000;
  font-size: 1em;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0px 4px 12px #b8900030, 0px 8px 24px #b8900060;
  position: absolute;
  bottom: 24px;
  right: 24px;
  transition: all 0.3s;
  &:hover {
    transform: translateY(-4px);
  }
}
